* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --bg-body: #2F2F33;
  --bg-button-search: #065E7C;
  --bg-table-primary: #092D38;
  --bg-table-secondary: rgba(6, 22, 27, 0.5);
  --bg-input: #06181C;
  --border: #4A808C;
  --text-label:  #7C7C8A;
  --text-remove: #F75A68;
  --text-table: #E1E1E6;
  --font-Roboto: 'Roboto', sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: var(--font-Roboto);
  background-color: var(--bg-body);
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  max-width: 112rem;
}
header {
  height: 4.8rem;
  margin: 11rem auto;
  display: flex;
  justify-content: space-between;
}
header input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: .8rem;
  padding: 16px;
  width: 46rem;
  height: 4.8rem;
  background: var(--bg-input);
  border: none;
  border-radius: .5rem;
  color: white;
}
header input::placeholder {
  height: 2rem;
  font-family: var(--font-Roboto);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--text-label);
}
header button {
  border: none;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;
  gap: .8rem;
  background-color: var(--bg-button-search);
  font-family: var(--font-Roboto);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: white;
  text-transform: uppercase;
  transition: 300ms;
  cursor: pointer;
}
header button:hover {
  background-color: white;
  color: var(--bg-button-search);
}
.search {
  display: flex;
  gap: .8rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}
table {
  width: 112rem;
  font-family: var(--font-Roboto);
  font-weight: 700;
  font-size: 2rem;
  line-height: 160%;
  color: var(--text-table);
  border-collapse: collapse;
}
table th {
  background: var(--bg-table-primary);
  text-align: left;
  font-weight: normal;
  padding: 2.4rem 2.4rem 2.4rem 4rem;
}
table th:first-child {
  border-top-left-radius: 1rem;
}
table th:last-child {
  border-top-right-radius: 1rem;
}
table tr:nth-child(odd) {
  background: var(--bg-table-secondary);
}
table tr:nth-child(even) {
  background: var(--bg-table-primary);
}
table td {
  padding: 2.4rem 2.4rem 2.4rem 4rem;
  text-align: left;
}
td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
td.user a {
  text-decoration: none;
  color:inherit;
}
td.user a p {
  font-weight: bold;
}
td.user a span {
  font-weight: 400;
}
td .remove {
  background: none;
  border: none;
  color: var(--text-remove);
  cursor: pointer;
}
.hide {
  height: 32rem;
  background-color: var(--bg-table-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 4rem;
  line-height: 2.5rem;
  color: #4E5455;
  gap: 3rem;
  display: none;
}
.hide img {
  width: 13.2rem;
  height: 12.5rem;
}

